/* Main page */
#homethree .column{
    text-align: center;
}

#homethree p{
    line-height: 180%;
    color: #666;
}

#homethree img{
    margin: 0 auto;
}

#center{
    margin-top: 20px;
    text-align: center;
}